* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;

  /*Centering box*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#box {
  /*Settings to be configured by user*/
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

  /*Creating box*/
  background-color: darkred;
  width: 200px;
  height: 100px;
}

.input-elements {
  display: flex;
  justify-content: space-between;
}

.input {
  width: 30px;
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: lightblue;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  border-radius: 5px;
  width: 50%;
  align-self: center;
  padding: 5px;
  margin-top: 1em;
  cursor: pointer;
}
